@use '../utils/breakpoints' as *;

@mixin mfs-button() {
    background: var(--Gray-80);
    outline: none;
    border: 2px solid var(--Gray-80);
    display: inline-block;
    padding: var(--Spacing-spacing-03);
    border-radius: 6.25rem;
    transition: all 0.5s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 2; /* Ensure the text is above the pseudo-element */
    color: var(--White);
    font-weight: var(--700);
    font-size: 0.875rem;

    @include media-breakpoint-up(md) {
        padding: var(--Spacing-spacing-04) var(--Spacing-spacing-06);
        font-size: 1rem;
    }

    &:hover {
        background: var(--Gray-60);
        border-color: var(--Gray-60);
        box-shadow: var(--Shadow-3);
    }

    &:focus {
        background: var(--Gray-80);
        border: 2px solid var(--Gray-40);
    }

    &:active {
        background: var(--Gray-80);
    }
}

.mfs-button {
    $self: &;

    @include mfs-button();

    // Secondary
    &--secondary {
        border-radius: var(--Border-Radius-border-radius-round);
        border: 2px solid var(--Gray-80);
        color: var(--Gray-80);
        padding: 0.5rem;
        text-align: center;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: var(--700);
        line-height: 1.375rem; /* 157.143% */
        background: transparent;

        @include media-breakpoint-up(md) {
            font-size: 1rem;
            line-height: 1.75rem;
            padding: 1rem 2rem;
        }

        &:hover {
            color: var(--White);
            border: 2px solid var(--White);
            background: var(--Gray-60);
        }

        &:focus {
            border: 3px solid var(--Gray-80);
            color: var(--Gray-80);
            background: transparent;
        }

        &:active {
            color: var(--Gray-80);
            background: transparent;
        }
    }

    &--small {
        padding: var(--Spacing-spacing-03) var(--Spacing-spacing-06);
        font-size: 0.875rem;

        @include media-breakpoint-up(md) {
            padding: var(--Spacing-spacing-03) var(--Spacing-spacing-06);
        }
    }
}
