@use '../utils/breakpoints' as *;

.footer-container {
    @include media-breakpoint-up(md) {
        grid-template-areas:
            'item1 item3 item4'
            'item2 item2 item2';

        @for $i from 1 through 4 {
            & > div:nth-child(#{$i}) {
                grid-area: item#{$i};
            }
        }
    }

    @include media-breakpoint-up(lg) {
        grid-template-areas:
            'item1 item2 item3'
            'item4 item2 item3';
    }

    @include media-breakpoint-up(xl) {
        grid-template-areas: 'item1 item2 item3 item4';
    }
}
