@use '../utils/breakpoints' as *;

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.mfs-tab {
    $self: &;
    display: grid;

    &__btn-container {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 0px;
        }
    }

    &__btn {
        position: relative;
        display: flex;
        padding: var(--Spacing-spacing-03) var(--Spacing-spacing-05);
        justify-content: center;
        align-items: center;
        color: var(--Gray-80, #333);
        font-size: 1rem;
        font-style: normal;
        font-weight: var(--700);
        line-height: 1.75rem; /* 175% */
        border-radius: var(--Border-Radius-border-radius-medium);
        background: var(--T-Soft-Beige);
        white-space: nowrap;
        transition: all 0.7s ease-in-out;
        opacity: 0.3;

        &.active {
            opacity: 1;
        }

        svg {
            display: none;
            pointer-events: none;
        }

        @include media-breakpoint-up(lg) {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            padding-top: 0.8rem;
            padding-bottom: 0.8rem;
            height: 4rem;

            svg {
                display: block;
                position: absolute;
                right: 0;
                transform: translateX(50%);
            }
        }
    }

    &__content-wrapper {
        position: relative;
    }

    &__content {
        padding: var(--Spacing-spacing-05);
        border-radius: var(--Border-Radius-border-radius-large);
        background: var(--T-Soft-Beige);
        display: none;
        transition: all 0.5s ease-in-out;

        & * {
            opacity: 0;
        }

        @include media-breakpoint-up(lg) {
            border-top-left-radius: 0;
            padding: 3rem 2rem;
        }

        @include media-breakpoint-up(xl) {
            border-top-left-radius: 0;
            padding: 6rem;
        }

        &.active {
            display: block;

            & * {
                animation: fadeIn 1s ease-in-out forwards;
            }
        }
    }
}
