// Load utilities
// @import 'utils/fonts';
@use 'utils/variables' as *;
@use 'utils/breakpoints' as *;

// Load components
@use 'components/section' as *;
@use 'components/container' as *;
@use 'components/navbar';
@use 'components/button';
@use 'components/footer';
@use 'components/footer-accordion';
@use 'components/footer-subscription';

@use 'components/inputs';
@use 'components/flatpicker';
@use 'components/explore-centre';
@use 'components/mfs-tab';
@use 'components/swiper';
@use 'components/accordion';
// @use 'components/video-player';
// @use 'components/modal';
// @use 'components/select';
// @use 'components/pagination';
// @use 'components/blog';

// Animations
@use 'components/animation/spin';
@use 'components/animation/shake';
@use 'components/animation/arrow-animation';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    // outline: 1px solid red !important;

    ///* Selection style for Firefox */
    ::-moz-selection {
        color: var(--P-100);
        background: var(--Gray-80);
    }

    /* Selection style for Chrome */
    ::selection {
        color: var(--P-100);
        background: var(--Gray-80);
    }

    // Hide the number input arrows
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        margin: 0;
        -webkit-appearance: none;
    }

    /* Firefox */
    input[type='number'] {
        -moz-appearance: textfield;
    }
}

// html {
//     scroll-behavior: smooth;
// }

* {
    scroll-margin: 5rem;
}

body,
header {
    max-width: 2560px;
    margin-right: auto;
    margin-left: auto;
}

body {
    overflow-x: hidden;
    width: 100%;
    background: var(--color16);
    overflow-anchor: none !important;

    &,
    * {
        font-family: 'Livvic', serif; /* Use the Google Font */
    }

    // ========================
    // Default text styles
    // ========================
    p,
    b,
    strong,
    span,
    label,
    input,
    textarea,
    li,
    a,
    div {
        &,
        * {
            font-size: 1rem;
            font-weight: var(--500);
            color: var(--Gray-80);
        }
    }

    strong,
    b {
        font-weight: var(--700);
    }

    a {
        cursor: pointer;
        text-decoration: none;
    }

    strong {
        font-weight: var(--700);

        @include media-breakpoint-up(md) {
            &,
            * {
                font-size: 1.1rem;
                line-height: 1.5rem;
            }
        }
    }

    b,
    strong {
        font-weight: var(--700);
    }

    img,
    video {
        max-width: 100%;
    }

    h1 {
        &,
        * {
            color: var(--S-Pale-Ivory);
        }
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        &,
        * {
            color: var(--Gray-80);
            font-weight: var(--700);
        }
    }

    // ======================
    // Heading styles
    // ======================

    h1,
    .h1 {
        &,
        * {
            font-size: 2.5rem; // Mobile H1
            font-weight: bold;
            line-height: normal;

            @include media-breakpoint-up(md) {
                font-size: 3.75rem; // Desktop H1
                line-height: 4.5rem;
            }
        }
    }

    h2,
    .h2 {
        &,
        * {
            font-size: 1.875rem; // Mobile H2
            font-weight: bold;
            line-height: normal;

            @include media-breakpoint-up(md) {
                font-size: 3rem; // Desktop H2
                line-height: 3.625rem;
            }
        }
    }

    h3,
    .h3 {
        &,
        * {
            font-size: 1.75rem; // Mobile H3
            font-weight: bold;
            line-height: 2.125rem;

            @include media-breakpoint-up(md) {
                font-size: 2.5rem; // Desktop H3
                line-height: 3rem;
            }
        }
    }

    h4,
    .h4 {
        &,
        * {
            font-size: 1.5rem; // Mobile H4
            font-weight: bold;
            line-height: 1.875rem;

            @include media-breakpoint-up(md) {
                font-size: 1.875rem; // Desktop H4
                line-height: 2.375rem;
            }
        }
    }

    h5,
    .h5 {
        &,
        * {
            font-size: 1.25rem; // Mobile H5
            font-weight: bold;
            line-height: 1.875rem;

            @include media-breakpoint-up(md) {
                font-size: 1.75rem; // Desktop H5
                line-height: 2.5rem;
            }
        }
    }

    h6,
    .h6 {
        &,
        * {
            font-size: 1.125rem; // Mobile H6
            font-weight: bold;
            line-height: 1.375rem;

            @include media-breakpoint-up(md) {
                font-size: 1.5rem; // Desktop H6
                line-height: 1.875rem;
            }
        }
    }

    // Special Heading
    .special-heading {
        &,
        * {
            font-size: 2.5rem; // Mobile H1
            line-height: normal;

            @include media-breakpoint-up(md) {
                font-size: 6.25rem;
                line-height: 6rem;
            }
        }
    }

    // Body Text
    .body-medium {
        &,
        * {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.75rem;
        }
    }

    .body-small {
        &,
        * {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.375rem;
        }
    }

    .body-extra-small {
        &,
        * {
            font-size: 0.75rem;
            font-weight: 400;
            line-height: 1.25rem;
        }
    }
}

@include media-breakpoint-up(lg) {
    ::-webkit-scrollbar {
        width: 13px;
    }

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(to top, var(--P-100) 0%, var(--T-Sage-Green) 100%);
        border-radius: 100px;
    }

    ::-webkit-scrollbar-track {
        background: var(--T-Aqua-Green);
    }

    ::-webkit-scrollbar-track-piece {
        background: var(--T-Aqua-Green);
    }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px var(--color16) inset; /* Change the color to your own background color */
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px var(--color16) inset; /*your box-shadow*/
}

// tippy arrow scss
.tippy-box.tippy-box {
    background-color: var(--color10) !important;

    .tippy-content {
        font-weight: var(--600);
        color: var(--color16);

        &::first-letter {
            text-transform: uppercase;
        }

        &,
        * {
            font-size: 0.75rem;
            text-transform: lowercase;
        }
    }

    .tippy-arrow {
        border-top-color: var(--color10) !important;

        &:before {
            border-color: transparent !important;
        }
    }
}
